<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product info</title>
</head>
<body>
<div class="container">
    <span th:text="${'Name: ' + product.name}"></span><br>
    <span th:text="${'Description: ' + product.description}"></span><br>
    <span th:text="${'Picture link: '}"></span><br>
    <picture><img th:src="@{${product.picture_link}}"></picture><br>
    <span th:text="${'Category: ' + product.category.name}"></span><br>
    <span th:text="${'Author: ' + product.author.name}"></span><br>
    <span th:text="${'Price: ' + product.price.toString()}"></span><br>
</div>
</body>
</html>